#Footer{
    background-color: var(--main-color);
    padding-top: 40px;
    color: var(--white-variant1); 
}
#FOOTER h2{
    width: 468px;
    color: var(--main-color);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
}
#Footer .container{
    display: flex;
    padding-bottom: 80px;
    gap: 15%;
}
#Footer .one{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
#Footer a{
    color: var(--white-variant1);
    text-decoration: none;
}
#Footer ul{
    list-style: none;
}
#Footer #become{
    width: 399px;
    height: 78px;
    font-size: 14px;
}
#Footer .one .socials{
    display: flex;
    width: 248px;
    justify-content: space-between;
}
#Footer .one .socials div{
    width: 44px;
    height: 44px;
}
#Footer .right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: space-between;
}
#Footer li{
    font-size: 16px;
    color: #d4d4d4;
    margin-bottom: 13px;
}
#Footer h4{
    width: 110px;
    border-bottom: 3px solid rgba(255,255,255,0.15);
    margin-bottom: 15px;
    padding-bottom: 9px;
    font-weight: 400;
}
footer{
    text-align: center;
    border-top: 3px solid rgba(255,255,255,0.15);
    padding: 25px 0;
    width: 90%;
    margin: auto;
    color: var(--white);
    font-size: 16px;
}
#FOOTER .sec-5{
    background-color: var(--white-blue);
    padding: 40px 0;
    margin-top: 80px;
}
#FOOTER .sec-5 .container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#FOOTER .sec-5 button{
    padding: 14px 35px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    margin-top: -10px;
}
#FOOTER .sec-5 .image{
    width: 262px;
    height: 265.58px;
}
#FOOTER .sec-6{
    display: none;
}
@media(max-width: 700px){
    #Footer .container{
        flex-direction: column;
        /* padding-bottom: 80px; */
        gap: 30px;
        position: relative;
    }
    #Footer .one{
        gap: 0px;
    }
    #Footer #become{
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        line-height: 26px;
    }
    #Footer .one .socials{
        position: absolute;
        bottom: 20px;
    }
    #Footer .right{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    #Footer li{
        margin-bottom: 18px;
    }
    #FOOTER .sec-5{
        display: none;
    }
    #FOOTER .sec-6{
        display: block;
        background-color: var(--white-blue);
        padding: 40px 0;
        margin-top: 80px;
    }
    #FOOTER .sec-6 .container{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #FOOTER .sec-6 .container p{
        margin-bottom: 15px;
    }
    #FOOTER .sec-6 .container p:first-child{
        color: var(--primary-color);
    }
    #FOOTER .sec-6 .container p:nth-child(2){
        font-size: 24px;
        color: var(--main-color);
        font-weight: bold;
    }
    #FOOTER .sec-6 .container p:nth-child(3){
        color: var(--grey);
        line-height: 26px;
    }
    #FOOTER .sec-6 button{
        padding: 14px 35px;
        background-color: var(--main-color);
        color: var(--white);
        border: none;
    }
}