#Course .sec-1{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 54px;
    color: var(--white);
}
#Course .sec-2{
    padding-top: 40px;
}
#Course .sec-2 .categories{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: var(--grey);
    padding-bottom: 10px;
    border-bottom: 2px solid #cdcdcd;
}
#Course .sec-2 .categories p:first-child{
    color: var(--main-color);
    font-weight: bold;
}
#Course .sec-2 .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}
.Course-Card{
    width: 355px;
}
.Course-Card img{
    width: 100%;
    height: 242px;
}
.Course-Card .length{
    color: var(--grey);
}
.Course-Card .prices p:first-child{
    text-decoration: line-through;
    color: #bebebe;
    font-size: 18px;
}
.Course-Card .priceLength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dbdbdb;
    padding: 5px 0;
    margin-bottom: 10px;
}
.Course-Card .prices{
    display: flex;
    gap: 10px;
    align-items: center;
}
.Course-Card .prices p:last-child{
    font-size: 24px;
    color: var(--primary-color);
    font-weight: bold;
}
.Course-Card .title{
    font-size: 18px;
    color: var(--main-color);
    line-height: 28px;
    font-weight: bold;
    height: 60px;
}
.Course-Card .desc{
    color: #838383;
    line-height: 28px;
    margin: 10px 0;
    height: 210px;
}
.Course-Card .buttons{
    display: flex;
    gap: 8px;
}
.Course-Card .buttons button{
    padding: 14px 43px;
    color: var(--white);
    border: none;
    background-color: var(--main-color);
}
.Course-Card .buttons button:last-child{
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: var(--white);
}

@media(max-width: 700px){
    #Course .sec-1{
        height: 25vh;
        font-size: 28px;
    }
    #Course .sec-2 .categories{
        font-size: 16px;
    }
    #Course .sec-2 .grid{
        grid-template-columns:  1fr;
        grid-row-gap: 70px;
    }
    .Course-Card{
        width: 100%;
    }
    .Course-Card .title{
        height: 50px;
    }
    .Course-Card .desc{
        height: 200px;
    }
    .Course-Card .buttons{
        flex-direction: column;
    }
}