#About{
    background-color: var(--white);
}
#About .sec-1{
    background-color: var(--main-color);
}
#About .sec-1 .container{
    display: flex;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding-top: 70px;
    padding-bottom: 250px;
}
#About .big{
    font-size: 54px;
    font-weight: bold;
    width: 368px;
    line-height: 72px;
}
#About .sec-1 .right{
    width: 705px;
    font-size: 18px;
    line-height: 34px;
}
#About .sec-x{
    background-color: var(--white-blue);
    text-align: center;
}
#About .image1{
    width: 1239px;
    height: 450px;
    transform: translateY(-160px);
    margin: auto;
}
#About .image2{
    width: 1239px;
    height: 470px;
    margin: auto;
    margin-top: -40px;
}
#About .sec-2{
    background-color: var(--white-blue);
    padding-top: 100px;
}
#About h2{
    width: 468px;
    color: var(--main-color);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
}
#About .sec-2 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}
#Timeline{
    width: 580px;
    height: 160px;
    display: flex;
    gap: 25px;
    color: var(--grey);
}
#Timeline p{
    width: 496px;
    height: 160px;
    font-size: 18px;
    line-height: 32px;
}
#Timeline h3{
    font-weight: 800;
    font-size: 22px;
}
#About .stats{
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 40px 0;
}
#About .stat{
    color: var(--primary-color);
    width: 211px;
    height: 93px;
    font-weight: 700;
    font-size: 40px;
}
#About .stat p:last-child,
#Leads h4{
    font-size: 24px;
    color: var(--main-color);
}
#About .sec-3{
    background-color: var(--white);
    padding-top: 60px;
}
#About .sec-3 .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
}
#Capabilities{
    width: 360px;
    height: 214px;
}
#Capabilities h4{
    font-size: 18px;
    margin: 10px 0;
    color: var(--main-color);
}
#Capabilities p{
    font-size: 16px;
    color: var(--grey);
}
#Capabilities span{
    color: var(--primary-color);
    font-weight: 600;
}
#About .sec-4{
    background-color: var(--white);
}
#About .sec-4 .container{
    background-color: var(--white-blue);
    padding-top: 50px;
}
#About .sec-4 h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#About .sec-4 .hold{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#About .sec-4 .hold .image{
    width: 333px;
    height: 344px;
}
#Leads{
    width: 649px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#Leads p{
    line-height: 28px;
    font-size: 16px;
    color: var(--grey);
}
#Leads h5{
    font-size: 18px;
    font-weight: bold;
    color: var(--grey);
}

@media(max-width: 700px){
    #About .sec-1 .container{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 150px;
    }
    #About .big{
        font-size: 28px;
        width: 100%;
        line-height: 44px;
    }
    #About .sec-1 .right{
        width: 90%;
        font-size: 14px;
        line-height: 24px;
    }
    #About .image1{
        width: 90%;
        height: 310px;
        transform: translateY(-100px);
        margin: auto;
    }
    #About .image2{
        width: 90%;
        height: 310px;
        margin-top: -40px;
    }
    #About .sec-2{
        padding-top: 50px;
    }
    #About h2{
        width: 100%;
        font-size: 24px;
        margin-bottom: 30px;
    }
    #About .sec-2 .grid{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    #Timeline{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 10px;
    }
    #Timeline p{
        width: 100%;
        height: fit-content;
        font-size: 16px;
        line-height: 30px;
    }
    #Timeline h3{
        font-size: 18px;
    }
    #About .stats{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px 0;
    }
    #About .stat{
        width: 100%;
        text-align: center;
        font-size: 32px;
    }
    #About .stat p:last-child,
    #Leads h4{
        font-size: 16px;
    }
    #About .sec-3 .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    #Capabilities{
        width: 100%;
        height: fit-content;
        margin-bottom: 25px;
    }
    #About .sec-4 .hold{
        width: 100%;
        flex-direction: column;
        margin-bottom: 50px;
        gap: 10px;
    }
    #About .sec-4 .hold .image{
        width: 100%;
        height: 366px;
    }
    #About .sec-4 .container{
        padding: 5px 0;
    }
    #About .sec-4 .hold-2{
        flex-direction: column-reverse;
    }
    #Leads{
        width: 100%;
        gap: 20px;
    }
}