:root {
  --main-color: #1F365D;
  --primary-color: #45B5E3;
  --white: #fff;
  --grey: #4F4E4E;
  --white-blue: #F5FCFF;
  --white-variant1: #FCFCFC;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */ 
